<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <title>Umbrella</title>
</head>
<body>
    <!-- НачалоNavBara -->
    <header class="header">
        <div class="wrapper">
            <div class="header_wrapper">
                <div class="header_logo">
                    <a href="/" class="header_logo_link">
                        <img src="{{ url_for('static', filename='img/png/logo.png') }}" alt="Logo" />
                    </a>
                </div>
                <nav class="header_nav">
                    <ul class="header_list">
                        <li class="header_item">
                            <a href="#twourto" class="header_link">о нас</a>
                        </li>
                        <li class="header_item">
                            <a href="#func" class="header_link">функционал</a>
                        </li>
                        <li class="header_item">
                            <a href="#" class="header_link" id="openRegister">Регистрация</a>
                        </li>
                        <li class="header_item">
                            <a href="#" class="header_link" id="openLogin">Вход</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- конецNavBara -->

    <!-- Начало первого блока -->

    <main class="main">
        <section class="intro">
            <div class="wrapper">
                <h1 class="intro_title">Umrella</h1>
                <p class="intro_subtitle">С заботой о вашем времени</p>
            </div>
            <img src="{{ url_for('static', filename='img/png/greenDoctor.png') }}" alt="greenDoctor" class="greenDoctor"/>
            <img src="{{ url_for('static', filename='img/png/logo2.png') }}" alt="logo2" class="logo2"/>
            <div class="block"></div>
        </section>    
    </main>
    <!-- Конец первого блока -->

    <!-- Начало второго блока -->
    <main class="two">
        <section id="twourto">
            <h5 class="about">О нас</h5>
            <div class="opis">
                <h4 class="vracham">Помощь лечащим врачам</h4>
                <h2 class="opisvrach">
                    Врачам будет легче заполнять медицинские
                    карты, что позволит сократить время, а так же
                    поможет автоматизировать процессы,
                    например: заполнение колонок заболеваний
                    при помощи блоков, создание готовой справки для
                    пациента с заранее прописаным ФИО и датой когда
                    и чем он болел.
                </h2>
                <h4 class="pacient">Помощь пациентам</h4>
                <h2 class="opisclient">
                    У пациентов будет доступ к
                    своей карточке, и им не нужно
                    будет забирать ее из регистратуры.
                    также там будут отображаться 
                    лекарства которые выписал доктор.
                </h2>
            </div>
            <div class="block2"></div>
        </section>
    </main>
    <!-- конец второго блок -->

    <!-- Третий блок -->
    <main class="three">
        <section id="func">
            <div class="functia">
                <h4 class="fanc">Функционал</h4>
                <img src="{{ url_for('static', filename='img/png/card.png') }}" alt="card" class="card"/>
            </div>
        </section>
    </main>

    <div id="authModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" id="closeModal">&times;</span>
            
            <!-- Форма для входа -->
            <form id="loginForm" class="form-container" style="display:none;" method="POST" action="{{ url_for('login') }}">
                <h2>Вход</h2>
                <label for="loginEmail">E-mail</label>
                <input type="email" id="loginEmail" name="email" placeholder="Введите ваш e-mail" required>
                
                <label for="loginPassword">Пароль</label>
                <input type="password" id="loginPassword" name="password" placeholder="Введите ваш пароль" required>
                
                <button type="submit">Войти</button>
            </form>

            <!-- Форма для регистрации -->
            <form id="registerForm" class="form-container" style="display:none;" method="POST" action="{{ url_for('register') }}">
                <h2>Регистрация</h2>
                <label for="registerName">ФИО</label>
                <input type="text" id="registerName" name="name" placeholder="Введите ваше ФИО" required>
                
                <label for="registerEmail">E-mail</label>
                <input type="email" id="registerEmail" name="email" placeholder="Введите ваш e-mail" required>
                
                <label for="buildingCode">Код здания</label>
                <input type="text" id="buildingCode" name="buildingCode" placeholder="Введите код здания" required>
                
                <label for="roleCode">Код роли</label>
                <input type="text" id="roleCode" name="roleCode" placeholder="Введите код роли" required>
                
                <label for="role">Роль</label>
                <input type="text" id="role" name="role" placeholder="Введите вашу роль" readonly>
                
                <label for="registerPassword">Пароль</label>
                <input type="password" id="registerPassword" name="password" placeholder="Введите ваш пароль" required>
                
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/popUp.js') }}"></script>
</body>
</html>
